@tailwind base;
@tailwind components;
@tailwind utilities;

.transition {
	@apply transition-all duration-500 ease-in-out;
}

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		width: 10px;
		height: 20px;
	}

	.scrollbar::-webkit-scrollbar-track {
		background: #010223;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: #ffffff;
		border-radius: 100vh;
		border: 2px solid #010223;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		background: #c0a0b9;
	}
}
